/data/Blur1000/deprecated/test/*.BMP
normal-blur-100.rar
normal-blur-1000.rar
Blur1000
model.rar
/bin
/3rdparty
/buildVS2013/caffelib/Release
/log
/buildVS2013/src/caffe/layers/*.deps
/buildVS2013/compute_image_mean/Release
/buildVS2013/convert_imageset/Release
/buildVS2013/convert_mnist_data/Release
/buildVS2013/MSVC/Release
/buildVS2013/MSVCmex
/buildVS2013/python/Release
/data/normal-blur-100.rar
/data/normal-blur-1000.rar
/data/model.rar
/python/_temp
/python/*.pyc
/data
/models/bvlc_alexnet-sur/201601102248
/python/caffe/*.dll
/buildVS2013/*.sdf
/build_cpu_only
/cmake
/models

*.pdb
buildVS2013/caffelib/vc120.pdb
*.csv
*.bmp
*.log
examples/mnist/mnist-test-leveldb/MANIFEST-000150
*.pdb
examples/mnist/convert_mnist_data.lib
*.exe
*.pdb
buildVS2013/caffelib/vc120.pdb
/python/pxp
